#grid {
    display: grid;
    grid-gap: 1px;  /* Adds a gap between cells */
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    margin: 0 auto;
    background: #999;
}
#beamCanvas {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1;
    background: transparent;  /* or whatever */
}
.cell {
    border: 1px solid #444;
    transition: 0.2s, transform 0.1s;
}
.cell:hover {
    background: rgba(177, 28, 28, 0.61);
    transform: scale(1.05);
    z-index: 1;
}
